<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky zápasů'} %>

<%

  players = ["Radim Běčák", "Pavel Kojda", "Libor Stanislav", "Petr Osterezy", "Honza Schwarz", "Tomáš Bartoň", "Pavel Mžik"]

  results = [
    [2, 'Radim Běčák', 'Petr Osterezy']
  ]
    
  matches = [
    ['Radim Běčák', 'Pavel Kojda'],
    ['Radim Běčák', 'Libor Stanislav'],
    ['Radim Běčák', 'Honza Schwarz'],
    ['Radim Běčák', 'Tomáš Bartoň'],
    ['Radim Běčák', 'Pavel Mžik'],
    ['Pavel Kojda', 'Libor Stanislav'],
    ['Pavel Kojda', 'Petr Osterezy'],
    ['Pavel Kojda', 'Honza Schwarz'],
    ['Pavel Kojda', 'Tomáš Bartoň'],
    ['Pavel Kojda', 'Pavel Mžik'],
    ['Libor Stanislav', 'Petr Osterezy'],
    ['Libor Stanislav', 'Honza Schwarz'],
    ['Libor Stanislav', 'Tomáš Bartoň'],
    ['Libor Stanislav', 'Pavel Mžik'],
    ['Petr Osterezy', 'Honza Schwarz'],
    ['Petr Osterezy', 'Tomáš Bartoň'],
    ['Petr Osterezy', 'Pavel Mžik'],
    ['Honza Schwarz', 'Tomáš Bartoň'],
    ['Honza Schwarz', 'Pavel Mžik'],
    ['Tomáš Bartoň', 'Pavel Mžik']
  ]

%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space20"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Výsledky zápasů</a></li>
          <li role="presentation"><a href="#matches" aria-controls="matches" role="tab" data-toggle="tab">Neodehrané zápasy</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="results">
            <div class="space20"></div>

            <div class="form-group" style="width: 30%">
              <select class="form-control" id="sel_results" data-table-name="results">
                <option value="all">Všichni hráči</option>
                <% players.each do |p| %>
                  <option value="<%= p %>"><%= p %></option>
                <% end %>
              </select>
            </div>

            <table class="table table-bordered" id="results">
              <thead>
                <tr class="result">
                  <th class="v-middle lightred" style="width: 5%;">#</th>
                  <th class="v-middle lightred" colspan="3" style="width: 50%;"></th>
                  <th class="v-middle lightred" stylpe="width: 15%">1. set</th>
                  <th class="v-middle lightred" style="width: 15%">2. set</th>
                  <th class="v-middle lightred" style="width: 15%">3. set</th>
                </tr>
              </thead>

              <tbody>
                <% results.each_with_index do |m, index| %>

                  <tr class="result">
                    <td style="width: 5%;"><%= index + 1 %></td>
                    <td style="width: 23%;" class="<%= 'lightred' if m[0] == 1 %>"><%= m[1] %></td>
                    <td style="width: 4%;">:</td>
                    <td style="width: 23%;" class="<%= 'lightred' if m[0] == 2 %>"><%= m[2] %></td>
                    <td style="width: 15%;"><%= m[3] %></td>
                    <td style="width: 15%;"><%= m[4] %></td>
                    <td style="width: 15%;"><%= m[5] %></td>
                  </tr>

                <% end %>
              </tbody>

            </table>

          </div>

          <div role="tabpanel" class="tab-pane" id="matches">
            <div class="space20"></div>

            <div class="form-group" style="width: 30%">
              <select class="form-control" id="sel_matches" data-table-name="matches">
                <option value="all">Všichni hráči</option>
                <% players.each do |p| %>
                  <option value="<%= p %>"><%= p %></option>
                <% end %>
              </select>
            </div>

            <table class="table table-bordered" id="matches">
              <thead>
                <tr class="result">
                  <th class="v-middle lightred" style="width: 10%;">#</th>
                  <th class="v-middle lightred" colspan="3" style="width: 90%;"></th>
                </tr>
              </thead>

              <tbody>
                <% matches.each_with_index do |m, index| %>

                  <tr class="result">
                    <td style="width: 10%;"><%= index + 1 %></td>
                    <td style="width: 40%;"><%= m[0] %></td>
                    <td style="width: 10%;">:</td>
                    <td style="width: 40%;"><%= m[1] %></td>
                  </tr>

                <% end %>
              </tbody>

            </table>

          </div>


        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

<script type="text/javascript">

  $("[id^='sel_']").change(function () {
      var select = $(this);
      if(select.val() == "all") select.addClass("empty");
      else select.removeClass("empty");
      select.find("option").css('color', 'black');
      select.find("option[value='all']").css('color', '#aaaaaa');

      filter_rows(select.val(), select.data('table-name'));

  });
  $("[id^='select']").change();


  function filter_rows(value, table) {

    var jo = $("table[id='" + table + "']").find("tbody tr");
    if (value == "all") {
        $("table[id='" + table + "'] td").removeClass("selected");
        jo.show();
        return;
    }

    jo.hide();

    jo.filter(function (i, v) {
        var $t = $(this);
        if ($t.is(":contains('" + value + "')")) {return true;}
        else return false;
    })
    //show the rows that match.
    .show();

    $("table[id='" + table + "'] td:contains('" + value + "')").addClass("selected");
    $("table[id='" + table + "'] td:not(:contains('" + value + "'))").removeClass("selected");
  }

</script>