<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky zápasů'} %>

<%

  matches_red = [
    [2, 'Mira Kokeš', 'Petr Osterezy', '1:6', '3:6', ''],
    [1, 'Honza Schwarz', 'Peťa Lehnert', '6:2', '6:2', ''],
    [1, 'Honza Schwarz', 'Libor Pícha', '6:4', '6:3', ''],
    [1, 'Martin Krupa', 'Peťa Lehnert', '6:3', '6:2', ''],
    [1, 'Martin Krupa', 'Mira Kokeš', '6:4', '6:0', ''],
    [2, 'Peťa Lehnert', 'Michal Strakoš', '1:6', '3:6', ''],
    [2, 'Mira Kokeš', 'Michal Strakoš', '2:6', '2:6', ''],
    [1, 'Martin Krupa', 'Libor Pícha', '4:6', '6:2', '6:1'],
    [2, 'Honza Tabach', 'Michal Strakoš', '5:7', '1:6', ''],
    [2, 'Mira Kokeš', 'Libor Pícha', '2:6', '2:6', ''],
    [1, 'Peťa Lehnert', 'Libor Pícha', '4:6', '6:4', '6:0'],
    [1, 'Martin Krupa', 'Petr Osterezy', '6:4', '6:7', '6:1'],
    [1, 'Peťa Lehnert', 'Petr Osterezy', '6:4', '7:6', ''],
    [1, 'Honza Schwarz', 'Martin Krupa', '6:1', '6:2', ''],
    [1, 'Honza Schwarz', 'Petr Osterezy', '6:2', '6:2', ''],
    [2, 'Martin Krupa', 'Michal Strakoš', '4:6', '6:1', '1:6'],
    [1, 'Honza Tabach', 'Mira Kokeš', '6:2', '6:1', ''],
    [1, 'Honza Schwarz', 'Michal Strakoš', '2:6', '6:2', '6:4'],
    [1, 'Honza Schwarz', 'Honza Tabach', '6:0', '6:3', ''],
    [1, 'Honza Tabach', 'Petr Osterezy', '6:1', '6:2', ''],
    [1, 'Honza Tabach', 'Peťa Lehnert', '6:3', '6:4', ''],
    [1, 'Petr Osterezy', 'Michal Strakoš', 'skreč.', '', ''],
    [1, 'Libor Pícha', 'Michal Strakoš', 'skreč.', '', ''],
    [2, 'Libor Pícha', 'Petr Osterezy', '2:6', '6:2', '1:6'],
    [0, 'Honza Schwarz', 'Mira Kokeš', '', '', ''],
    [0, 'Honza Tabach', 'Martin Krupa', '', '', ''],
    [0, 'Honza Tabach', 'Libor Pícha', '', '', ''],
    [0, 'Peťa Lehnert', 'Mira Kokeš', '', '', ''],
  ]

  matches_blue = [
    [1, 'Radim Běčák', 'Zdeněk Kocián', '6:0', '4:6', '6:1'],
    [2, 'Leoš Rek', 'Zdeněk Kocián', '7:5', '0:6', '3:6'],
    [1, 'Pavel Mžik', 'Zdeněk Kocián', '6:2', '6:3', ''],
    [1, 'Pavel Mžik', 'Libor Stanislav', '6:0', '6:3', ''],
    [1, 'Radim Běčák', 'Peťa Kutáč', '6:0', '6:1', ''],
    [1, 'Radim Běčák', 'Marin Indrák', '6:2', '6:2', ''],
    [1, 'Libor Stanislav', 'Leoš Rek', '6:1', '7:5', ''],
    [1, 'Pavel Mžik', 'Leoš Rek', '6:0', '6:2', ''],
    [1, 'Pavel Mžik', 'Marin Indrák', '6:1', '6:1', ''],
    [1, 'Peťa Kutáč', 'Marin Indrák', '6:2', '7:5', ''],
    [1, 'Zdeněk Kocián', 'Marin Indrák', '6:3', '6:1', ''],
    [2, 'Radim Běčák', 'Pavel Mžik', '3:6', '3:6', ''],
    [1, 'Radim Běčák', 'Leoš Rek', '6:2', '6:3', ''],
    [2, 'Tomáš Bartoň', 'Pavel Mžik', '6:4', '4:6', '4:6'],
    [1, 'Leoš Rek', 'Marin Indrák', '6:3', '6:2', ''],
    [1, 'Tomáš Bartoň', 'Libor Stanislav', '6:1', '6:4', ''],
    [1, 'Tomáš Bartoň', 'Marin Indrák', '6:2', '6:2', ''],
    [1, 'Tomáš Bartoň', 'Radim Běčák', '6:7', '7:6', 'TB 9:7'],
    [1, 'Libor Stanislav', 'Marin Indrák', '6:1', '6:1', ''],
    [2, 'Radim Běčák', 'Libor Stanislav', '2:6', '2:6', ''],
    [1, 'Tomáš Bartoň', 'Zdeněk Kocián', '1:6', '6:4', '6:0'],
    [1, 'Libor Stanislav', 'Peťa Kutáč', '6:2', '6:4', ''],
    [1, 'Libor Stanislav', 'Zdeněk Kocián', '6:3', '6:4', ''],
    [1, 'Tomáš Bartoň', 'Leoš Rek', '6:2', '6:2', ''],
    [0, 'Tomáš Bartoň', 'Peťa Kutáč', '', '', ''],
    [0, 'Pavel Mžik', 'Peťa Kutáč', '', '', ''],
    [0, 'Leoš Rek', 'Peťa Kutáč', '', '', ''],
    [0, 'Zdeněk Kocián', 'Peťa Kutáč', '', '', ''],
  ]

%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space20"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#red" aria-controls="red" role="tab" data-toggle="tab">Červená skupina</a></li>
          <li role="presentation"><a href="#blue" aria-controls="blue" role="tab" data-toggle="tab">Modrá skupina</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="red">
            <div class="space20"></div>

            <table class="table table-bordered">
                <tr class="result">
                  <th class="v-middle lightred" style="width: 5%;">#</th>
                  <th class="v-middle lightred" colspan="3" style="width: 50%;"></th>
                  <th class="v-middle lightred" stylpe="width: 15%">1. set</th>
                  <th class="v-middle lightred" style="width: 15%">2. set</th>
                  <th class="v-middle lightred" style="width: 15%">3. set</th>
                </tr>

                <% matches_red.each_with_index do |m, index| %>

                  <tr class="result">
                    <td style="width: 5%;"><%= index + 1 %></td>
                    <td style="width: 23%;" class="<%= 'lightred' if m[0] == 1 %>"><%= m[1] %></td>
                    <td style="width: 4%;">:</td>
                    <td style="width: 23%;" class="<%= 'lightred' if m[0] == 2 %>"><%= m[2] %></td>
                    <td style="width: 15%;"><%= m[3] %></td>
                    <td style="width: 15%;"><%= m[4] %></td>
                    <td style="width: 15%;"><%= m[5] %></td>
                  </tr>

                  <% end %>

            </table>

          </div>

          <div role="tabpanel" class="tab-pane" id="blue">
            <div class="space20"></div>

            <table class="table table-bordered">
                <tr class="result">
                  <th class="v-middle lightblue" style="width: 5%;">#</th>
                  <th class="v-middle lightblue" colspan="3" style="width: 50%;"></th>
                  <th class="v-middle lightblue" style="width: 15%">1. set</th>
                  <th class="v-middle lightblue" style="width: 15%">2. set</th>
                  <th class="v-middle lightblue" style="width: 15%">3. set</th>
                </tr>

                <% matches_blue.each_with_index do |m, index| %>

                  <tr class="result">
                    <td style="width: 5%;"><%= index + 1 %></td>
                    <td style="width: 23%;" class="<%= 'lightblue' if m[0] == 1 %>"><%= m[1] %></td>
                    <td style="width: 4%;">:</td>
                    <td style="width: 23%;" class="<%= 'lightblue' if m[0] == 2 %>"><%= m[2] %></td>
                    <td style="width: 15%;"><%= m[3] %></td>
                    <td style="width: 15%;"><%= m[4] %></td>
                    <td style="width: 15%;"><%= m[5] %></td>
                  </tr>

                  <% end %>

            </table>

          </div>


        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

