<%= render :partial => 'partials/titlebar', locals: {title: 'Výsledky zápasů'} %>

<%

  players = ["Tomáš Bartoň", "Pavel Mžik", "Libor Stanislav", "Honza Schwarz", "Martin Krupa", "Radim Běčák", "Mira Kokeš", "Petr Osterezy", "Martin Indrák", "Vláďa Vašut"]

  results = [
    [1, 'Honza Schwarz', 'Petr Osterezy', '6:2', '6:7', '6:2'],
    [2, 'Radim Běčák', 'Tomáš Bartoň', '3:6', '3:6', ''],
    [2, 'Mira Kokeš', 'Honza Schwarz', '1:6', '4:6', ''],
    [2, 'Vláďa Vašut', 'Honza Schwarz', '2:6', '1:6', ''],
    [1, 'Radim Běčák', 'Martin Krupa', '6:0', '6:2', ''],
    [1, 'Radim Běčák', 'Mira Kokeš', '6:3', '6:3', ''],
    [1, 'Mira Kokeš', 'Martin Indrák', '6:?', '6:?', ''],
    [1, 'Tomáš Bartoň', 'Vláďa Vašut', '6:2', '6:2', ''],
    [1, 'Martin Krupa', 'Libor Stanislav', '6:3', '4:6', 'TB 10:8'],
    [2, 'Petr Osterezy', 'Martin Krupa', '6:2', '0:6', '4:6'],
    [1, 'Libor Stanislav', 'Radim Běčák', '1:6', '6:2', '2:0 skreč.'],
    [1, 'Tomáš Bartoň', 'Martin Krupa', '2:6', '6:2', 'TB 10:6'],
    [2, 'Petr Osterezy', 'Tomáš Bartoň', '2:6', '1:6', ''],
    [1, 'Tomáš Bartoň', 'Martin Indrák', '6:3', '6:3', ''],
    [2, 'Mira Kokeš', 'Libor Stanislav', '1:6', '4:6', ''],
    [2, 'Martin Indrák', 'Libor Stanislav', '0:6', '1:6', ''],
    [2, 'Radim Běčák', 'Honza Schwarz', '3:6', '3:6', ''],
    [1, 'Radim Běčák', 'Vláďa Vašut', '6:1', '6:2', ''],
    [2, 'Libor Stanislav', 'Pavel Mžik', '6:4', '4:6', '4:6'],
    [1, 'Libor Stanislav', 'Petr Osterezy', '6:2', '6:2', ''],
    [1, 'Honza Schwarz', 'Pavel Mžik', '6:3', '4:6', '6:4'],
    [1, 'Petr Osterezy', 'Mira Kokeš', '6:3', '6:3', ''],
    [2, 'Pavel Mžik', 'Tomáš Bartoň', '2:6', '4:6', ''],
    [2, 'Mira Kokeš', 'Vláďa Vašut', '6:4', '4:6', '2:6'],
    [2, 'Petr Osterezy', 'Radim Běčák', '0:6', '4:6', ''],
    [2, 'Martin Indrák', 'Pavel Mžik', '1:6', '3:6', ''],
    [1, 'Martin Krupa', 'Vláďa Vašut', '6:3', '6:1', ''],
    [1, 'Martin Krupa', 'Mira Kokeš', '6:2', '6:3', ''],
    [1, 'Vláďa Vašut', 'Petr Osterezy', '7:5', '5:7', '6:2'],
    [2, 'Petr Osterezy', 'Pavel Mžik', '1:6', '5:7', ''],
    [1, 'Pavel Mžik', 'Mira Kokeš', '6:2', '6:3', ''],
    [2, 'Vláďa Vašut', 'Libor Stanislav', '3:6', '4:6', ''],
    [2, 'Libor Stanislav', 'Tomáš Bartoň', '7:6', '0:6', '5:7'],
    [1, 'Pavel Mžik', 'Vláďa Vašut', '6:2', '6:2', ''],
    [1, 'Honza Schwarz', 'Libor Stanislav', '6:2', '6:3', ''],
    [1, 'Martin Krupa', 'Martin Indrák', '6:2', '6:1', ''],
    [1, 'Tomáš Bartoň', 'Mira Kokeš', '6:3', '6:0', ''],
    [1, 'Honza Schwarz', 'Martin Indrák', '6:3', '6:1', ''],
    [2, 'Martin Krupa', 'Honza Schwarz', '5:7', '3:6', ''],
  ]
    
  matches = [
    ['Tomáš Bartoň', 'Honza Schwarz'],
    ['Pavel Mžik', 'Martin Krupa'],
    ['Pavel Mžik', 'Radim Běčák'],
    ['Martin Indrák', 'Radim Běčák'],
    ['Martin Indrák', 'Petr Osterezy'],
    ['Vláďa Vašut', 'Martin Indrák']
  ]

%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space20"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Výsledky zápasů</a></li>
          <li role="presentation"><a href="#matches" aria-controls="matches" role="tab" data-toggle="tab">Neodehrané zápasy</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="results">
            <div class="space20"></div>

            <div class="form-group" style="width: 30%">
              <select class="form-control" id="sel_results" data-table-name="results">
                <option value="all">Všichni hráči</option>
                <% players.each do |p| %>
                  <option value="<%= p %>"><%= p %></option>
                <% end %>
              </select>
            </div>

            <table class="table table-bordered" id="results">
              <thead>
                <tr class="result">
                  <th class="v-middle lightred" style="width: 5%;">#</th>
                  <th class="v-middle lightred" colspan="3" style="width: 50%;"></th>
                  <th class="v-middle lightred" stylpe="width: 15%">1. set</th>
                  <th class="v-middle lightred" style="width: 15%">2. set</th>
                  <th class="v-middle lightred" style="width: 15%">3. set</th>
                </tr>
              </thead>

              <tbody>
                <% results.each_with_index do |m, index| %>

                  <tr class="result">
                    <td style="width: 5%;"><%= index + 1 %></td>
                    <td style="width: 23%;" class="<%= 'lightred' if m[0] == 1 %>"><%= m[1] %></td>
                    <td style="width: 4%;">:</td>
                    <td style="width: 23%;" class="<%= 'lightred' if m[0] == 2 %>"><%= m[2] %></td>
                    <td style="width: 15%;"><%= m[3] %></td>
                    <td style="width: 15%;"><%= m[4] %></td>
                    <td style="width: 15%;"><%= m[5] %></td>
                  </tr>

                <% end %>
              </tbody>

            </table>

          </div>

          <div role="tabpanel" class="tab-pane" id="matches">
            <div class="space20"></div>

            <div class="form-group" style="width: 30%">
              <select class="form-control" id="sel_matches" data-table-name="matches">
                <option value="all">Všichni hráči</option>
                <% players.each do |p| %>
                  <option value="<%= p %>"><%= p %></option>
                <% end %>
              </select>
            </div>

            <table class="table table-bordered" id="matches">
              <thead>
                <tr class="result">
                  <th class="v-middle lightred" style="width: 10%;">#</th>
                  <th class="v-middle lightred" colspan="3" style="width: 90%;"></th>
                </tr>
              </thead>

              <tbody>
                <% matches.each_with_index do |m, index| %>

                  <tr class="result">
                    <td style="width: 10%;"><%= index + 1 %></td>
                    <td style="width: 40%;"><%= m[0] %></td>
                    <td style="width: 10%;">:</td>
                    <td style="width: 40%;"><%= m[1] %></td>
                  </tr>

                <% end %>
              </tbody>

            </table>

          </div>


        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

<script type="text/javascript">

  $("[id^='sel_']").change(function () {
      var select = $(this);
      if(select.val() == "all") select.addClass("empty");
      else select.removeClass("empty");
      select.find("option").css('color', 'black');
      select.find("option[value='all']").css('color', '#aaaaaa');

      filter_rows(select.val(), select.data('table-name'));

  });
  $("[id^='select']").change();


  function filter_rows(value, table) {

    var jo = $("table[id='" + table + "']").find("tbody tr");
    if (value == "all") {
        $("table[id='" + table + "'] td").removeClass("selected");
        jo.show();
        return;
    }

    jo.hide();

    jo.filter(function (i, v) {
        var $t = $(this);
        if ($t.is(":contains('" + value + "')")) {return true;}
        else return false;
    })
    //show the rows that match.
    .show();

    $("table[id='" + table + "'] td:contains('" + value + "')").addClass("selected");
    $("table[id='" + table + "'] td:not(:contains('" + value + "'))").removeClass("selected");
  }

</script>