<%= render :partial => 'partials/titlebar', locals: {title: 'Vyřazovací část'} %>

<%
  table_up = [
    ['Honza Schwarz', '' , '', ''],
    ['', 'Honza Schwarz' , '', ''],
    ['Radim Běčák', '6:2, 6:4' , '', ''],

    ['', '' , '', ''],

    ['Michal Strakoš', '' , '', ''],
    ['', 'Tomáš Bartoň' , '', ''],
    ['Tomáš Bartoň', 'skreč.' , '', ''],

    ['', '' , '', ''],

    ['Martin Krupa', '' , '', ''],
    ['', 'Libor Stanislav' , '', ''],
    ['Libor Stanislav', '3:6, 6:2, 6:4' , '', ''],

    ['', '' , '', ''],

    ['Honza Tabach', '' , '', ''],
    ['', 'Honza Tabach' , '', ''],
    ['Pavel Mžík', '6:4, 2:6, 6:2' , '', ''],
  ]

  table_down = [
    ['Peťa Lehnert', '' , '', ''],
    ['', 'Peťa Lehnert' , '', ''],
    ['Martin Indrák', '6:3, 6:3' , '', ''],

    ['', '' , '', ''],

    ['Petr Osterezy', '' , '', ''],
    ['', 'Petr Osterezy' , '', ''],
    ['Peťa Kutáč', '6:3, 6:4' , '', ''],

    ['', '' , '', ''],

    ['Libor Pícha', '' , '', ''],
    ['', 'Luděk Křístek' , '', ''],
    ['Luděk Křístek (Leoš Rek)', '6:2, 7:5' , '', ''],

    ['', '' , '', ''],

    ['Mira Kokeš', '' , '', ''],
    ['', 'Mira Kokeš' , '', ''],
    ['Zdeněk Kocián', '6:7, 6:4, 7:6' , '', ''],
  ]

  filled_cells = [
    ['lightred', 'white', 'white', 'white'],
    ['', 'lightred', 'white', 'white'],
    ['lightred', 'white', 'white', 'white'],

    ['white', 'white', 'lightred', 'white'],

    ['lightred', 'white', 'white', 'white'],
    ['', 'lightred', 'white', 'white'],
    ['lightred', 'white', 'white', 'white'],

    ['white', 'white', 'white', 'lightred'],

    ['lightred', 'white', 'white', 'white'],
    ['', 'lightred', 'white', 'white'],
    ['lightred', 'white', 'white', 'white'],

    ['white', 'white', 'lightred', 'white'],

    ['lightred', 'white', 'white', 'white'],
    ['', 'lightred', 'white', 'white'],
    ['lightred', 'white', 'white', 'white'],
  ]

%>

<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space30"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#up" aria-controls="up" role="tab" data-toggle="tab">o 1. - 8. místo</a></li>
          <li role="presentation"><a href="#down" aria-controls="down" role="tab" data-toggle="tab">o 9. - 16. místo</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="up">
            <div class="space10"></div>

            <table class="table table-bordered">

              <tr class="result" style="line-height: 40px; min-height: 40px; height: 40px;" >
                <th class="v-middle bordered white" style="font-size: 16px; width: 25%;">Čtvrtfinále</th>
                <th class="v-middle bordered white" style="font-size: 16px; width: 25%;">Semifinále</th>
                <th class="v-middle bordered white" style="font-size: 16px; width: 25%;">Finále</th>
                <th class="v-middle bordered white" style="font-size: 16px; width: 25%;">Držitel zlatých trenek</th>
              </tr>

              <% table_up.each_with_index do |row, r_index| %>
                <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">

                  <% row.each_with_index do |col, c_index| %>
                    <% 
                      clazz = filled_cells[r_index][c_index]
                    %>
                    <td class="v-middle bordered <%= clazz %>" style="font-size: 14px; width: 25%;"><%=raw col %></td>
                  <% end %>

                </tr>
              <% end %>

            </table>

            <table class="table table-bordered">

              <tr class="result" style="line-height: 40px; min-height: 40px; height: 40px;" >
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th colspan="2" class="v-middle bordered white" style="font-size: 16px; width: 25%;">O 3. místo</th>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

            </table>

            <table class="table table-bordered">

              <tr class="result" style="line-height: 40px; min-height: 40px; height: 40px;" >
                <th colspan="2"class="v-middle bordered white" style="font-size: 16px; width: 25%;">O 5.místo</th>
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered lightred" style="font-size: 14px; width: 25%;">Radim Běčák</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered lightred" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered lightred" style="font-size: 14px; width: 25%;">Michal Strakoš</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered lightred" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered lightred" style="font-size: 14px; width: 25%;">Martin Krupa</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered lightred" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered lightred" style="font-size: 14px; width: 25%;">Pavel Mžík</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

            </table>

            <table class="table table-bordered">

              <tr class="result" style="line-height: 40px; min-height: 40px; height: 40px;" >
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th colspan="2" class="v-middle bordered white" style="font-size: 16px; width: 25%;">O 7. místo</th>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

            </table>


          </div>

          <div role="tabpanel" class="tab-pane" id="down">
            <div class="space10"></div>

            <table class="table table-bordered">

              <tr class="result" style="line-height: 40px; min-height: 40px; height: 40px;" >
                <th class="v-middle bordered white" style="font-size: 16px; width: 25%;">Čtvrtfinále</th>
                <th class="v-middle bordered white" style="font-size: 16px; width: 25%;">Semifinále</th>
                <th class="v-middle bordered white" style="font-size: 16px; width: 25%;">Finále (o 9. místo)</th>
                <th class="v-middle bordered white" style="font-size: 16px; width: 25%;"></th>
              </tr>

              <% table_down.each_with_index do |row, r_index| %>
                <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">

                  <% row.each_with_index do |col, c_index| %>
                    <% 
                      clazz = filled_cells[r_index][c_index] 
                      clazz = 'lightblue' if clazz.eql?('lightred')
                    %>
                    <td class="v-middle bordered <%= clazz %>" style="font-size: 14px; width: 25%;"><%=raw col %></td>
                  <% end %>

                </tr>
              <% end %>

            </table>

            <table class="table table-bordered">

              <tr class="result" style="line-height: 40px; min-height: 40px; height: 40px;" >
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th colspan="2" class="v-middle bordered white" style="font-size: 16px; width: 25%;">O 11. místo</th>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

            </table>

            <table class="table table-bordered">

              <tr class="result" style="line-height: 40px; min-height: 40px; height: 40px;" >
                <th colspan="2"class="v-middle bordered white" style="font-size: 16px; width: 25%;">O 13.místo</th>
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered lightblue" style="font-size: 14px; width: 25%;">Martin Indrák</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered lightblue" style="font-size: 14px; width: 25%;">Peťa Kutáč</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered lightblue" style="font-size: 14px; width: 25%;">Peťa Kutáč</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;">6:2, 6:2</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered lightblue" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered lightblue" style="font-size: 14px; width: 25%;">Libor Pícha</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered lightblue" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered lightblue" style="font-size: 14px; width: 25%;">Zdeněk Kocián</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

            </table>

            <table class="table table-bordered">

              <tr class="result" style="line-height: 40px; min-height: 40px; height: 40px;" >
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th class="v-middle bordered white" style="font-size: 14px; width: 25%;"></th>
                <th colspan="2" class="v-middle bordered white" style="font-size: 16px; width: 25%;">O 15. místo</th>
              </tr>

              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;">Martin Indrák</td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
              </tr>
              <tr class="result" style="line-height: 35px; min-height: 35px; height: 35px;">
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered" style="font-size: 14px; width: 25%;"></td>
                <td class="v-middle bordered white" style="font-size: 14px; width: 25%;"></td>
              </tr>

            </table>


          </div>



      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>

