<%= render :partial => 'partials/titlebar', locals: {title: 'Tabulky'} %>
<%

  table_red = [
    ['', 'Honza<br>Schwarz', 'Honza<br>Tabach', 'Martin<br>Krupa', 'Peťa<br>Lehnert', 'Mira<br>Kokeš', 'Libor<br>Pícha', 'Petr<br>Osterezy', 'Michal<br>Strakoš'],
    ['Honza<br>Schwarz', '', '', '', '', '', '', '', ''],
    ['Honza<br>Tabach', '', '', '', '', '', '', '', ''],
    ['Martin<br>Krupa', '', '', '', '', '', '', '', ''],
    ['Peťa<br>Lehnert', '', '', '', '', '', '', '', ''],
    ['Mira<br>Kokeš', '', '', '', '', '', '', '', ''],
    ['Libor<br>Pícha', '', '', '', '', '', '', '', ''],
    ['Petr<br>Osterezy', '', '', '', '', '', '', '', ''],
    ['Michal<br>Strakoš', '', '', '', '', '', '', '', '']
  ]

  table_blue = [
    ['', 'Tomáš<br>Bartoň', 'Radim<br>Běčák', 'Pavel<br>Mžik', 'Libor<br>Stanislav', 'Leoš<br>Rek', 'Zdenek<br>Kocián', 'Peťa<br>Kutáč', 'Marin<br>Indrák'],
    ['Tomáš<br>Bartoň', '', '', '', '', '', '', '', ''],
    ['Radim<br>Běčák', '', '', '', '', '', '', '', ''],
    ['Pavel<br>Mžik', '', '', '', '', '', '', '', ''],
    ['Libor<br>Stanislav', '', '', '', '', '', '', '', ''],
    ['Leoš<br>Rek', '', '', '', '', '', '', '', ''],
    ['Zdenek<br>Kocián', '', '', '', '', '', '', '', ''],
    ['Peťa<br>Kutáč', '', '', '', '', '', '', '', ''],
    ['Marin<br>Indrák', '', '', '', '', '', '', '', ''],
  ]

%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space30"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#red" aria-controls="red" role="tab" data-toggle="tab">Červená skupina</a></li>
          <li role="presentation"><a href="#blue" aria-controls="blue" role="tab" data-toggle="tab">Modrá skupina</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="red">
            <div class="space10"></div>

            <table class="table table-bordered">
              <% table_red.each_with_index do |row, r_index| %>
                <tr class="result" style="line-height: 50px; min-height: 50px; height: 50px;">

                  <% row.each_with_index do |col, c_index| %>
                    <%
                      width = c_index > 12 ? '9%' : '7%'
                      clss = r_index == c_index ? 'lightred' : ''
                      clss << 'lightgreen bold' if c_index > 11
                    %>
                    <% if (r_index == 0 and c_index > 0) or (r_index > 0 and c_index ==0) %>
                      <th class="v-middle" style="font-size: 12px; width: <%= width %>"><%=raw col %></th>
                    <% else %>
                      <td style="width: <%= width %>" class="v-middle <%= clss %>"><%=raw col %></td>
                    <% end %>
                  <% end %>

                </tr>
              <% end %>

            </table>

          </div>

          <div role="tabpanel" class="tab-pane" id="blue">
            <div class="space10"></div>

            <table class="table table-bordered">
              <% table_blue.each_with_index do |row, r_index| %>
                <tr class="result" style="line-height: 50px; min-height: 50px; height: 50px;">

                  <% row.each_with_index do |col, c_index| %>
                    <%
                      width = c_index > 12 ? '9%' : '7%'
                      clss = r_index == c_index ? 'lightblue' : ''
                      clss << 'lightgreen bold' if c_index > 11
                    %>
                    <% if (r_index == 0 and c_index > 0) or (r_index > 0 and c_index ==0) %>
                      <th class="v-middle" style="font-size: 12px; width: <%= width %>"><%=raw col %></th>
                    <% else %>
                      <td style="width: <%= width %>" class="v-middle <%= clss %>"><%=raw col %></td>
                    <% end %>
                  <% end %>

                </tr>
              <% end %>

            </table>

          </div>


        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
