<%= render :partial => 'partials/titlebar', locals: {title: 'Tabulka'} %>

<%

  table = [
    ['', 'Tomáš<br>Bartoň', 'Pavel<br>Mžik', 'Libor<br>Stanislav', 'Honza<br>Schwarz', 'Martin<br>Krupa', 'Radim<br>Běčák', 'Peťa<br>Lehnert', 'Honza<br>Tabach', 'Mira<br>Kokeš', 'Peťa<br>Kutáč', 'Petr<br>Osterezy', 'Martin<br>Indrák', 'Vláďa<br>Vašut', 'Sety', 'Body', 'Pořadí'],
    ['Tomáš<br>Bartoň', '', '', '2:1', '', '', '', '', '', '2:0', '', '', '', '', '4:1', '2', ''],
    ['Pavel<br>Mžik', '', '', '', '', '', '', '', '', '2:0', '', '', '', '2:0', '4:0', '2', ''],
    ['Libor<br>Stanislav', '1:2', '', '', '0:2', '', '', '', '', '', '', '', '', '2:0', '3:4', '1', ''],
    ['Honza<br>Schwarz', '', '', '2:0', '', '2:0', '', '', '', '', '', '', '2:0', '', '6:0', '3', ''],
    ['Martin<br>Krupa', '', '', '', '0:2', '', '', '', '', '', '', '', '2:0', '', '2:2', '1', ''],
    ['Radim<br>Běčák', '', '', '', '', '', '', '', '', '', '', '', '', '', '0:0', '0', ''],
    ['Peťa<br>Lehnert', '', '', '', '', '', '', '', '', '', '', '', '', '', '0:0', '0', ''],
    ['Honza<br>Tabach', '', '', '', '', '', '', '', '', '', '', '', '', '', '0:0', '0', ''],
    ['Mira<br>Kokeš', '0:2', '0:2', '', '', '', '', '', '', '', '', '', '', '', '0:4', '0', ''],
    ['Peťa<br>Kutáč', '', '', '', '', '', '', '', '', '', '', '', '', '', '0:0', '0', ''],
    ['Petr<br>Osterezy', '', '', '', '', '', '', '', '', '', '', '', '', '', '0:0', '0', ''],
    ['Martin<br>Indrák', '', '', '', '0:2', '0:2', '', '', '', '', '', '', '', '', '0:4', '0', ''],
    ['Vláďa<br>Vašut', '', '0:2', '0:2', '', '', '', '', '', '', '', '', '', '', '0:4', '0', '']
  ]

%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space30"></div>

        <table class="table table-bordered">
          <% table.each_with_index do |row, r_index| %>
            <tr class="result" style="line-height: 50px; min-height: 50px; height: 50px;">

              <% row.each_with_index do |col, c_index| %>
                <%
                  width = c_index < 14 ? '6%' : '5%'
                  clss = r_index == c_index ? 'lightred' : ''
                  clss << 'lightgreen bold' if c_index > 13
                %>
                <% if (r_index == 0 and c_index > 0) or (r_index > 0 and c_index ==0) %>
                  <th class="v-middle" style="font-size: 12px; width: <%= width %>"><%=raw col %></th>
                <% else %>
                  <td style="width: <%= width %>" class="v-middle <%= clss %>"><%=raw col %></td>
                <% end %>
              <% end %>

            </tr>
          <% end %>

        </table>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
