<%= render :partial => 'partials/titlebar', locals: {title: 'Tabulka'} %>

<%

  table = [
    ['', 'Radim<br>Běčák', 'Pavel<br>Kojda', 'Libor<br>Stanislav', 'Petr<br>Osterezy', 'Honza<br>Schwarz', 'Tomáš<br>Bartoň', 'Pavel<br>Mžik', 'Sety', 'Body', 'Pořadí'],

    ['Radim<br>Běčák', '', '', '', '1:2', '', '', '', '1:2', '0', ''],
    ['Pavel<br>Kojda', '', '', '', '', '', '', '', '', '0', ''],
    ['Libor<br>Stanislav', '', '', '', '', '', '', '', '', '0', ''],
    ['Petr<br>Osterezy', '2:1', '', '', '', '', '', '', '2:1', '1', ''],
    ['Honza<br>Schwarz', '', '', '', '', '', '', '', '', '0', ''],
    ['Tomáš<br>Bartoň', '', '', '', '', '', '', '', '', '0', ''],
    ['Pavel<br>Mžik', '', '', '', '', '', '', '', '', '0', ''],
  ]

  w = ['10%', '9%', '9%', '9%', '9%', '9%', '9%', '9%', '9%', '9%', '9%']
%>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space30"></div>

        <table class="table table-bordered">
          <% table.each_with_index do |row, r_index| %>
            <tr class="result" style="line-height: 50px; min-height: 50px; height: 50px;">

              <% row.each_with_index do |col, c_index| %>
                <%
                  width = w[c_index] #< 12 ? '7%' : '5%'
                  clss = r_index == c_index ? 'lightred' : ''
                  clss << 'lightgreen bold' if c_index > 7
                %>
                <% if (r_index == 0 and c_index > 0) or (r_index > 0 and c_index ==0) %>
                  <th class="v-middle" style="font-size: 12px; width: <%= width %>"><%=raw col %></th>
                <% else %>
                  <td style="width: <%= width %>" class="v-middle <%= clss %>"><%=raw col %></td>
                <% end %>
              <% end %>

            </tr>
          <% end %>

        </table>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
