<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>VIP DC 2016</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- Header -->
    <header id="header">
      <div class="container">
        <div class="row t-container">

          <!-- Logo -->
          <div class="col-md-3">
            <div class="logo">
              <%= link_to home_page_path do %>
                <%= image_tag 'header.jpg'%>
              <% end %>
            </div>
          </div>

          <%= render :partial => 'partials/menu' %> 
          
          <div class="row space40"></div>
          
          <%= render :partial => 'partials/slider' %> 

      </div> 

      <div class="row space40"></div>
    </header>
    <!-- Header End -->

    <%= yield %>

    <%= render :partial => 'partials/footer' %> 

  </body>

</html>
